<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>xiami</title>
    <link rel="stylesheet" type="text/css" href="../css/xiami_style.css" />
</head>

<body>
    <div class="root">
        <div class="content_container">
            <div class="top_info">
                <div class="top_info_latest">最新原创精选集</div>
                <div class="top_info_more">更多</div>
            </div>
            <hr class="list_hr" />
            <div class="content_main">
                <div class="album_describe">
                    <div class="album_cover">
                        <img src="../public/imgs/album_cover_1.png" alt="cover_1" />
                    </div>
                    <div class="describe_text">
                        <div class="describe_text_albumtitle">
                            &<span class="title"><形SHAPE状></span>&
                            <span class="mount">(13)</span>
                            <img src="../public/imgs/player_button.png" alt="button" style="margin-left: 3px;">
                        </div>
                        <div class="describe_text_albumproducer">
                            制作人：<span style="color: #7A94CE;">柔情梦</span>&nbsp;@2012-11-02
                        </div>
                        <div class="describe_text_content">
                            幸福的形状，爱情的形状，感情的形状都是什么样的形状？圆形？三角形？四角形？
                        </div>
                    </div>
                </div>
                <hr class="list_hr" />
                <div class="album_describe">
                    <div class="album_cover">
                        <img src="../public/imgs/album_cover_2.png" alt="cover_2" />
                    </div>
                    <div class="describe_text">
                        <div class="describe_text_albumtitle">
                            <span class="title" style="letter-spacing: 0px;">挂满回忆的绿树摇曳 承载青春的台湾民谣</span>
                            <span class="mount">(47)</span>
                            <img src="../public/imgs/player_button.png" alt="button" style="margin-left: 3px;" />
                        </div>
                        <div class="describe_text_albumproducer">
                            制作人：<span style="color: #8893D6">Mr.J</span>&nbsp;@2012-11-02
                        </div>
                        <div class="describe_text_content">
                            有人定义“民谣”有两重涵义，一为"不用乐器伴奏的歌曲歌唱"，二为"民间流行歌谣"。传统意义上的台湾台语民谣源于东南沿海赴台的先民。这些民谣经过辗转流传，孕育出了真正的台湾本土歌谣，比如曾广为...
                        </div>
                    </div>
                </div>
                <hr class="list_hr" />
            </div>
        </div>
    </div>
</body>

</html>
