<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>responsive</title>
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>
    <body>
    	<section id="root">
			<div class="item item_odd"></div>
			<div class="item item_even item_middle"></div>
			<div class="item item_odd"></div>
			<div class="item item_even"></div>
			<div class="item item_middle item_odd"></div>
			<div class="item item_even"></div>
			<div class="item item_odd"></div>
			<div class="item item_even item_middle"></div>
			<div class="item item_odd"></div>
    	</section>
    </body>
</html>
