<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>exercise-3</title>
        <link rel="stylesheet" type="text/css" href="../css/exercise_3_style.css" />
    </head>

    <body>
        <div id="root">
            <div class="top_info">
                京东 ~ 品质生活
            </div>
            <div class="content_container">
                <div class="left_container float_item">
                    <div class="above_content float_item">
                        <div class="above_large_item float_item colorfulbackground">
                            <div class="item_describe">
                                新发现
                            </div>
                            <img src="../public/imgs/5.jpg" alt="pic_5" />
                            <div class="item_describe_detail_large detail_item_1 absolute_item">新品尖货</div>
                            <div class="item_describe_detail_large detail_item_2 absolute_item">华为大牌周 约惠3.14</div>
                            <div class="item_describe_detail_large detail_item_3 absolute_item">爆品手机99元秒杀</div>
                        </div>
                        <div class="above_small_item float_item">
                            <div class="item_describe">
                                好物100
                            </div>
                            <img src="../public/imgs/3.jpg" alt="pic_3" />
                            <div class="item_describe_detail_small detail_item_1 absolute_item">购车推荐</div>
                            <div class="item_describe_detail_small detail_item_2 absolute_item">足不出户选好车</div>
                            <div class="item_describe_detail_small detail_item_3 absolute_item">定金499</div>
                        </div>
                        <div class="above_large_item float_item colorfulbackground">
                            <div class="item_describe">
                                品牌街
                            </div>
                            <img src="../public/imgs/2.jpg" alt="pic_2" />
                            <div class="item_describe_detail_large detail_item_1 absolute_item">彩电沸腾周</div>
                            <div class="item_describe_detail_large detail_item_2 absolute_item">65寸智能4K电视4999</div>
                            <div class="item_describe_detail_large detail_item_3 absolute_item">白条12期免息</div>
                        </div>
                    </div>
                    <div class="below_content float_item">
                        <div class="below_small_item float_item colorfulbackground">
                            <img src="../public/imgs/11.jpg" alt="pic_11" />
                            <div class="item_describe_detail_small detail_item_1_below absolute_item">预先抢售</div>
                            <div class="item_describe_detail_small detail_item_2_below absolute_item">智能便携影院</div>
                            <div class="item_describe_detail_small detail_item_3_below absolute_item">预约立减300</div>
                        </div>
                        <div class="below_small_item float_item colorfulbackground">
                            <img src="../public/imgs/4.jpg" alt="pic_4" />
                            <div class="item_describe_detail_small detail_item_1_below absolute_item">新品首发</div>
                            <div class="item_describe_detail_small detail_item_2_below absolute_item">锤子T2</div>
                            <div class="item_describe_detail_small detail_item_3_below absolute_item">白条12期免息</div>
                        </div>
                        <div class="below_normal_item float_item">
                            <img src="../public/imgs/1.jpg" alt="pic_1" />
                            <div class="item_describe_detail_small detail_item_1_below absolute_item">潮有范</div>
                            <div class="item_describe_detail_small detail_item_2_below absolute_item">94年品质保证</div>
                            <div class="item_describe_detail_small detail_item_3_below absolute_item">Dickies低至79</div>
                        </div>
                        <div class="below_small_item float_item colorfulbackground">
                            <img src="../public/imgs/6.jpg" alt="pic_6" />
                            <div class="item_describe_detail_small detail_item_1_below absolute_item">国际服饰</div>
                            <div class="item_describe_detail_small detail_item_2_below absolute_item">BURBERRY1元起拍</div>
                            <div class="item_describe_detail_small detail_item_3_below absolute_item">每满1000减150</div>
                        </div>
                        <div class="below_small_item float_item colorfulbackground">
                            <img src="../public/imgs/12.jpg" alt="pic_12" />
                            <div class="item_describe_detail_small detail_item_1_below absolute_item">科技精品</div>
                            <div class="item_describe_detail_small detail_item_2_below absolute_item">玩科技</div>
                            <div class="item_describe_detail_small detail_item_3_below absolute_item">净化凉风取暖合一</div>
                        </div>
                    </div>
                </div>
                <div class="right_navigation_container float_item">
                    <div class="navigation_item navi_item_left float_item">
                        <img src="../public/imgs/20.jpg" alt="pic_20" />
                    </div>
                    <div class="navigation_item navi_item_right float_item">
                        <img src="../public/imgs/8.jpg" alt="pic_8" />
                    </div>
                    <div class="navigation_item navi_item_left float_item">
                        <img src="../public/imgs/22.jpg" alt="pic_22" />
                    </div>
                    <div class="navigation_item navi_item_right float_item">
                        <img src="../public/imgs/21.jpg" alt="21" />
                    </div>
                    <div class="navigation_item navi_item_left float_item">
                        <img src="../public/imgs/14.jpg" alt="pic_14" />
                    </div>
                    <div class="navigation_item navi_item_right float_item">
                        <img src="../public/imgs/7.jpg" alt="pic_7" />
                    </div>
                    <div class="navigation_item navi_item_left float_item">
                        <img src="../public/imgs/16.jpg" alt="pic_16" />
                    </div>
                    <div class="navigation_item navi_item_right float_item">
                        <img src="../public/imgs/15.jpg" alt="pic_15" />
                    </div>
                    <div class="navigation_item navi_item_left float_item">
                        <img src="../public/imgs/9.jpg" alt="pic_9" />
                    </div>
                    <div class="navigation_item navi_item_right float_item">
                        <img src="../public/imgs/13.jpg" alt="pic_13" />
                    </div>
                    <div class="navigation_item navi_item_left float_item">
                        <img src="../public/imgs/17.jpg" alt="pic_17" />
                    </div>
                    <div class="navigation_item navi_item_right float_item">
                        <img src="../public/imgs/19.jpg" alt="pic_19" />
                    </div>
                    <div class="navigation_item navi_item_left float_item navi_last_item">
                        <img src="../public/imgs/18.jpg" alt="pic_18" />
                    </div>
                    <div class="navigation_item navi_item_right float_item navi_last_item">
                        <img src="../public/imgs/10.jpg" alt="pic_10" />
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
