<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>dreammaker1</title>
        <link rel="stylesheet" type="text/css" href="../css/reset.css" />
        <link rel="stylesheet" type="text/css" href="../css/page1.css" />
    </head>

    <body>
        <div id="root">
            <div class="content_logo_wrapper">
                <div class="logo_behind">
                    <img src="../public/imgs/bg_red.png" alt="">
                    <img src="../public/imgs/bg_blue.png" alt="">
                    <img src="../public/imgs/bg_yellow.png" alt="">
                </div>
                <div class="logo_above">
                    <img src="../public/imgs/bottom_D.png" alt="">
                    <img src="../public/imgs/bottom_grey_l.png" alt="">
                    <img src="../public/imgs/bottom_point.png" alt="">
                    <img src="../public/imgs/bottom_green.png" alt="">
                    <img src="../public/imgs/bottom_grey_r.png" alt="">
                    <img src="../public/imgs/bottom_blue.png" alt="">
                </div>
                <div class="logo_alpha">
                    <img src="../public/imgs/forward_D.png" alt="">
                    <img src="../public/imgs/forward_E_big.png" alt="">
                    <img src="../public/imgs/forward_RAM.png" alt="">
                    <img src="../public/imgs/forward_M.png" alt="">
                    <img src="../public/imgs/forward_A.png" alt="">
                    <img src="../public/imgs/forward_K.png" alt="">
                    <img src="../public/imgs/forward_E.png" alt="">
                    <img src="../public/imgs/forward_R.png" alt="">
                </div>
            </div>
            <div class="static_star_wrapper blue_static_star"><img src="../public/imgs/2015_bg.png" alt="" class="static_star"></div>
            <div class="static_star_wrapper red_static_star"><img src="../public/imgs/man_bg.png" alt="" class="static_star"></div>
            <div class="title_small_wrapper"><img class="title_small" src="../public/imgs/2015.png"></div>
            <div class="title_big_wrapper"><img class="title_big" src="../public/imgs/man.png"></div>
            <img class="pull_button" src="../public/imgs/direction.png" />
            <img class="music_music" src="../public/imgs/musicOn.png" />
            <img src="../public/imgs/lx_yellow.png" alt="" class="dynamic_star yellow_metro">
            <img src="../public/imgs/lx_red.png" alt="" class="dynamic_star red_metro">
            <img src="../public/imgs/lx_green.png" alt="" class="dynamic_star green_metro">
        </div>
    </body>

</html>
