<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>my collections</title>
    <link rel="stylesheet" type="text/css" href="../css/collections_style.css" />
</head>

<body>
    <div id="root" class="root">
        <div id="top_title_container">
            <span class="top_title_content_title_span">我的宝箱</span>
        </div>
        <div id="already_attain_container">
            <div class="already_attain_content_top_info">
                <span class="already_attain_content_top_info_redspan">已开宝箱获得</span>
                <img src="../Public/imgs/horn.png" alt="horn" class="already_attain_content_top_info_horn_img" />
                <span class="already_attain_content_top_info_time">13:34&nbsp&nbsp从余额宝充值中得到</span>
                <span class="already_attain_content_top_info_moneymount">￥&nbsp20</span>
            </div>
            <div class="already_attain_content_gridview">
                <div class="already_attain_content_gridview_item gridview_item1">
                    <div>
                        1212红包
                    </div>
                    <div>
                        ￥<span>999</span>
                    </div>
                </div>
                <div class="already_attain_content_gridview_item gridview_item2">
                    <div style="margin-right: 18px;">
                        获赠流量
                    </div>
                    <div>
                        <span>999</span>MB
                    </div>
                </div>
                <div class="already_attain_content_gridview_item gridview_item3">
                    <span>中彩票</span>
                </div>
                <div class="already_attain_content_gridview_item special_gridview_item">
                    <span>未获得</span>
                </div>
            </div>
        </div>
        <div class="notopen_collections_container">
            <div class="notopen_collections_top_info">
                未开宝箱<span>12</span>个
            </div>
            <div class="notopen_collections_threecartoonpic">
                <div class="threecartoonpic_infotext" style="top: 24px; left: 270px">x99</div>
                <div class="threecartoonpic_infotext" style="top: 24px; left: 607px">x99</div>
                <div class="threecartoonpic_infotext" style="top: 24px; right: -26px">x99</div>
            </div>
            <div class="threecartoonpic_banner_next">
                    <img src="../Public/imgs/arrow.png" alt="next" />
                </div>
            <div class="banner_indicator_container">
                <ul class="banner_indicator">
                    <li>
                        <div class="banner_selected"></div>
                    </li>
                    <li>
                        <div class="banner_unselected"></div>
                    </li>
                    <li>
                        <div class="banner_unselected"></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="attain_more_collections_container">
            <div class="attain_more_collections_top_info">
                <a href="#" title=""><img src="../Public/imgs/attain_more.png" alt="attain_more" /></a>
            </div>
            <div class="attain_more_collections_content">
                <ul class="attain_more_collections_content_container">
                    <li>
                        <div class="content_item1">
                            <span>余额宝充值送宝箱</span>
                        </div>
                    </li>
                    <li>
                        <div class="content_item2">
                            <span>分享宝贝送宝箱</span>
                        </div>
                    </li>
                    <li>
                        <div class="content_item3">
                            <span>愿望清单送宝箱</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>
