<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>h5新标签练习</title>
        <link rel="stylesheet" type="text/css" href="../css/reset.css" />
        <link rel="stylesheet" type="text/css" href="../css/exercise.css" />
    </head>

    <body>
        <aside class="about_author">
            <header id="header_about_author" class="">
                about_author
            </header>
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
            </ul>
        </aside>
        <aside class="exchange_link">
            <header id="header_exchange_link" class="">
                exchange_link
            </header>
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
            </ul>
        </aside>
        <section id="content_wrapper">
            <section class="author_theme_wrapper">
                <article class="theme_content">
                    <h1 class="content_title">theme_title</h1>
                    <p class="content_time">time</p>
                    <pre>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</pre>
                </article>
            </section>
            <section class="comment_wrapper">
                <article class="comment_content">
                    <header class="">
                        <p class="comment_author">comment_author</p>
                        <p class="comment_time">comment_time</p>
                    </header>
                    <pre class="comment_main">6666666666666666666666</pre>
                </article>
                <article class="comment_content">
                    <header class="">
                        <p class="comment_author">comment_author</p>
                        <p class="comment_time">comment_time</p>
                    </header>
                    <pre class="comment_main">6666666666666666666666</pre>
                </article>
                <article class="comment_content">
                    <header class="">
                        <p class="comment_author">comment_author</p>
                        <p class="comment_time">comment_time</p>
                    </header>
                    <pre class="comment_main">6666666666666666666666</pre>
                </article>
                <article class="comment_content">
                    <header class="">
                        <p class="comment_author">comment_author</p>
                        <p class="comment_time">comment_time</p>
                    </header>
                    <pre class="comment_main">6666666666666666666666</pre>
                </article>
                <article class="comment_content">
                    <header class="">
                        <p class="comment_author">comment_author</p>
                        <p class="comment_time">comment_time</p>
                    </header>
                    <pre class="comment_main">6666666666666666666666</pre>
                </article>
                <article class="comment_content">
                    <header class="">
                        <p class="comment_author">comment_author</p>
                        <p class="comment_time">comment_time</p>
                    </header>
                    <pre class="comment_main">6666666666666666666666</pre>
                </article>
                <article class="comment_content">
                    <header class="">
                        <p class="comment_author">comment_author</p>
                        <p class="comment_time">comment_time</p>
                    </header>
                    <pre class="comment_main">6666666666666666666666</pre>
                </article>
                <article class="comment_content">
                    <header class="">
                        <p class="comment_author">comment_author</p>
                        <p class="comment_time">comment_time</p>
                    </header>
                    <pre class="comment_main">6666666666666666666666</pre>
                </article>
                <article class="comment_content">
                    <header class="">
                        <p class="comment_author">comment_author</p>
                        <p class="comment_time">comment_time</p>
                    </header>
                    <pre class="comment_main">6666666666666666666666</pre>
                </article>
            </section>
        </section>
    </body>

</html>
