<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>iframe</title>
        <style type="text/css" media="screen">
        	/**
        	 * iframe语法
        	 * 1、inline frame的缩写，称之为内敛框架，可以在网页局部插入另外一个文件（网页）
        	 *
        	 * 2、属性：
        	 * srcolling: 是否显示iframe框架的滚动条，yes表示始终显示 no表示不显示 auto自动根据插入网页判断是否显示 ;
        	 * frameborder：0表示没有边框线；1表示有边框线
        	 */

        	iframe{
        		border: 1px solid red;
        	}
        </style>
    </head>

    <body>
		<iframe src="http://www.baidu.com" width="400px" height="400px" scrolling="no" frameborder="">

		</iframe>
    </body>

</html>
