<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>page transition</title>
        <style type="text/css" media="screen">
        /**
        	 * iframe是内敛块级标签
        	 * 1、随便点击某页面的某个链接，来切换iframe里面的内容。
        	 * 2、注意a标签的target一定要与iframe的name相同
        	 *
        	 * iframe标签的中内容可以作为浏览器不兼容iframe时显示的内容
        	 */
        </style>
    </head>

    <body>
       <!--  <div>
            <iframe src="" width="500px" height="500px" name="a" frameborder="0">

            </iframe>
        </div>
        <a href="http://www.baidu.com" title="" target="a">click</a> -->

        <!-- 插入网页的一部分 -->
        <iframe src="http://www.baidu.com" width="800px" height="800px" marginwidth="400" marginheight="400">

        </iframe>
    </body>

</html>
