<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>百度一下，你就知道</title>
    <!-- <link rel="shortcut icon" href="" /> -->
    <link rel="stylesheet" type="text/css" href="../css/baidu_style.css" />
</head>

<body>
    <div class="root">
        <div class="navigation_list">
            <a href="#" title="">糯米</a>
            <a href="#">新闻</a>
            <a href="#">hao123</a>
            <a href="#">地图</a>
            <a href="#">视频</a>
            <a href="#">贴吧</a>
            <a href="#">登录</a>
            <a href="#">设置</a>
            <a href="#" title="" class="more_production">更多产品</a>
        </div>
        <div class="navigation_more_container">
        </div>
        <div class="right_col_navigation">
            <div class="col_navigation_more_production">
                更多产品
            </div>
            <div class="col_navigation_list">
                <a href="#" title="" class="col_navigation_disp_b item">
                    <span class="item_music">音乐</span>
                </a>
            </div>
        </div>
        <div class="float_content_wrapper">
            <div class="content_container">
                <div class="content_main">
                    <div class="bg_logo">
                        <img src="../public/imgs/bd_logo.png" alt="bg_logo" width="270px" height="129px" />
                    </div>
                    <div class="search_container">
                        <div class="search_box dis_ib">
                            <div class="voice_search"></div>
                            <div class="camera_search">
                            </div>
                        </div>
                        <div class="search_button dis_ib">
                            百度一下
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="foot">
            <div class="qrcode_container qrcode">
                <img src="../public/imgs/qrcode_mobile.png" alt="qrcode_mobile" />
                <div class="qrcode_describe">
                    <p style="color: #666">手机百度</p>
                    <p style="color: #999">快人一步</p>
                </div>
            </div>
            <div class="qrcode_container qrcode">
                <img src="../public/imgs/qrcode_nuomi.png" alt="qrcode_nuomi" />
                <div class="qrcode_describe">
                    <p style="color: #666">百度糯米</p>
                    <p style="color: #999">一元大餐</p>
                </div>
            </div>
            <div class="about_container disp_ib">
                <div class="about_top">
                    <span class="underline_text">把百度设为主页</span>
                    <span class="underline_text">关于百度</span>
                    <span class="underline_text" style="word-spacing: 0px;">About Baidu</span>
                    <span class="underline_text">百度推广</span>
                </div>
                <div class="about_center">
                    ©2016 Baidu<a href="#" title=""><span>使用百度前必读</span></a><a href="#" title=""><span>意见反馈</span></a> 京ICP证030173号
                </div>
                <div class="about_bottom">
                    <div class="about_bottom_icon_polic">
                    </div>
                    <span>京公网安备11000002000001号</span>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
