<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>exercise-2</title>
        <link rel="stylesheet" type="text/css" href="../css/exercise_2_style.css">
    </head>

    <body>
    	<div id="root">
			<div class="top_content">
				<div class="item_first float_item">
					<img src="../public/imgs/1.png" alt="pic_1" />
				</div>
				<div class="item_other float_item"><img src="../public/imgs/2.png" alt="pic_2" /></div>
				<div class="item_other float_item"><img src="../public/imgs/3.png" alt="pic_3" /></div>
				<div class="item_other float_item"><img src="../public/imgs/4.png" alt="pic_4" /></div>
				<div class="item_other float_item"><img src="../public/imgs/5.png" alt="pic_5" /></div>
				<div class="item_other float_item"><img src="../public/imgs/6.png" alt="pic_6" /></div>
				<div class="item_other float_item"><img src="../public/imgs/7.png" alt="pic_7" /></div>
			</div>
			<div class="bottom_content">
				<div class="item_other float_item"><img src="../public/imgs/8.png" alt="pic_8" /></div>
				<div class="item_other float_item"><img src="../public/imgs/9.png" alt="pic_9" /></div>
				<div class="item_other float_item"><img src="../public/imgs/10.png" alt="pic_10" /></div>
				<div class="item_other float_item"><img src="../public/imgs/11.png" alt="pic_11" /></div>
				<div class="item_other float_item"><img src="../public/imgs/12.png" alt="pic_12" /></div>
			</div>
    	</div>
    </body>

</html>
