<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>box-shadow</title>
        <style type="text/css" media="screen">
        	div{
        		margin: 0 auto;
        		width: 300px;
        		height: 300px;
        		background: #286760;
        		/* 语法：投影方式（默认外阴影） x轴偏移  y轴偏移 阴影模糊半径 阴影扩展半径 阴影颜色 */
        		/* 投影方式：可选值 默认外阴影 */
        		/* x轴偏移： 正值右边，负值左边 */
        		/* y轴偏移： 正值下面，负值上面 */
        		/* 阴影模糊半径 可选值 正值 */
        		/* 阴影扩展半径 可选值 可正可负 正值外扩 负值内缩 */
        		box-shadow:  3px 3px 0px 0px red;
        	}
        </style>
    </head>

    <body>
    	<div>

    	</div>
    </body>

</html>
