<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>css3 selector</title>
    </head>

    <body>
    	组合选择器：
    	1：子选择器 例如：div > p
    	2：相邻兄弟选择器：div+p
    	3：属性选择器：例如：div[attr]
    	伪类：
    	1: :active
    	2: :any
    	3: :checked
    	4: :default
    	5: dir()
    	6: disable
    	7: empty
    	8: enable
    	9: first
    	10: first-child
    	11: first-of-type
    	12: fullscreen
    	13: focus
    	14: hover
    	15: indeterminate
    	16: in-range
    	17: invalid
    	18: lang()
    	19: last-child
    	20: last-of-type
    </body>

</html>
