<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>蒙版</title>
		<style type="text/css" media="screen">
			img{
 				-webkit-mask-image: url('../public/imgs/tanghulu.png');
 				-webkit-mask-repeat: no-repeat;
 				-webkit-mask-position: 80px 50px;
			}
			img:hover{
				-webkit-mask-position: 100px 100px;
				transition: 1s;
			}
		</style>
    </head>

    <body>
    	<img src="../public/imgs/1.jpg" alt="">
    	<img src="../public/imgs/1.jpg" alt="">
    </body>

</html>
