<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>under-the-banyan</title>
    <link rel="stylesheet" type="text/css" href="../css/banyan_style.css" />
</head>

<body>
    <div class="root">
        <div class="content_container">
            <div class="content_top_info">
                <img src="../public/imgs/top_left_icon.png" alt="icon" />
                <span>图书畅销榜</span>
                <img src="../public/imgs/more.png" alt="more" class="more_icon_rightalign" />
            </div>
            <div class="content_listitem_detail flex_container">
                <div class="number_signal flex_item">
                    <img src="../public/imgs/number_1_signal.png" alt="number_signal" />
                </div>
                <div class="book_cover flex_item">
                    <img src="../public/imgs/number_1_bookcover.png" alt="bookcover" />
                </div>
                <div class="book_describe_detail flex_item">
                    <div class="book_title">
                        蛙
                    </div>
                    <div class="book_author">
                        作者：莫言
                    </div>
                </div>
            </div>
            <hr class="list_hr" />
            <div class="flex_container content_listitem_coll">
                <div class="number_signal_notexpanded flex_item">
                    <img src="../public/imgs/number_2_signal.png" alt="number_signal" />
                </div>
                <div class="book_describe_detail_author_notexpanded">
                    白鹿原
                </div>
            </div>
            <hr class="list_hr" />
            <div class="flex_container content_listitem_coll">
                <div class="number_signal_notexpanded flex_item">
                    <img src="../public/imgs/number_3_signal.png" alt="number_signal" />
                </div>
                <div class="book_describe_detail_author_notexpanded">
                    大秦帝国最终修订版
                </div>
            </div>
            <hr class="list_hr" />
            <div class="flex_container content_listitem_coll">
                <div class="number_signal_notexpanded flex_item">
                    <img src="../public/imgs/number_4_signal.png" alt="number_signal" />
                </div>
                <div class="book_describe_detail_author_notexpanded">
                    偶发空缺
                </div>
            </div>
            <hr class="list_hr" />
            <div class="flex_container content_listitem_coll">
                <div class="number_signal_notexpanded flex_item">
                    <img src="../public/imgs/number_5_signal.png" alt="number_signal" />
                </div>
                <div class="book_describe_detail_author_notexpanded">
                    明朝那些事
                </div>
            </div>
            <hr class="list_hr" />
            <div class="flex_container content_listitem_coll">
                <div class="number_signal_notexpanded flex_item">
                    <img src="../public/imgs/number_6_signal.png" alt="number_signal" />
                </div>
                <div class="book_describe_detail_author_notexpanded">
                    当李晓峰成为SKY
                </div>
            </div>
            <hr class="list_hr" />
        </div>
    </div>
</body>

</html>
