<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>exercise-4</title>
        <link rel="stylesheet" type="text/css" href="../css/exercise_4_style.css" />
    </head>

    <body>
        <div id="root">
            <div class="content_container">
                <div class="top_content">
                    <div class="float_item top_item_normal" style="border-left: 0px; border-top: 0px">
                        <img src="../public/imgs/1.jpg" alt="pic_1" /></div>
                    <div class="float_item top_item_normal">
                        <img src="../public/imgs/2.jpg" alt="pic_2" />
                    </div>
                    <div class="float_item top_item_normal" style="border-right: 0px; border-top: 0px">
                        <img src="../public/imgs/3.jpg" alt="pic_3" />
                    </div>
                    <div class="float_item top_item_large">
                        <img src="../public/imgs/4.jpg" alt="pic_4" />
                    </div>
                    <div class="float_item top_item_large">
                        <img src="../public/imgs/5.jpg" alt="pic_5" />
                    </div>
                    <div class="float_item top_item_large">
                        <img src="../public/imgs/6.png" alt="pic_6" />
                    </div>
                    <div class="float_item top_item_large">
                        <img src="../public/imgs/7.png" alt="pic_7" />
                    </div>
                </div>
                <div class="bottom_content">
                    <div class="banner">
                        <img src="../public/imgs/banner.png" alt="banner" />
                    </div>
                    <div class="content_title">
                        特色市场
                    </div>
                    <div class="float_item bottom_left_large">
                        <img src="../public/imgs/8.png" alt="pic_8" />
                    </div>
                    <div class="float_item bottom_right_normal">
                        <img src="../public/imgs/9.png" alt="pic_9" />
                    </div>
                    <div class="float_item bottom_right_normal">
                        <img src="../public/imgs/10.png" alt="pic_10" />
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
