<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>tianxia</title>
    <link rel="stylesheet" type="text/css" href="../css/tianxia_style.css">
</head>

<body>
    <div class="root">
        <div class="book_container">
            <div class="book_describe_main">
                <div class="book_cover_main">
                    <img src="../public/imgs/book_cover_main.png" alt="book_cover_main" />
                </div>
                <p class="book_describe_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="book_presentation_main flex_box">
                <!-- <ul class="book_presentation_list">
					<li class="book_presentation_list_item">
						<div><img src="../public/imgs/book_cover_presentation_1.png" alt="book_cover_presentation_1" /></div>
					</li>
					<li class="book_presentation_list_item">
						<div><img src="../public/imgs/book_cover_presentation_2.png" alt="book_cover_presentation_2" /></div>
					</li>
					<li class="book_presentation_list_item">
						<div><img src="../public/imgs/book_cover_presentation_3.png" alt="book_cover_presentation_3" /></div>
					</li>
					<li class="book_presentation_list_item">
						<div><img src="../public/imgs/book_cover_presentation_4.png" alt="book_cover_presentation_4" /></div>
					</li>
				</ul> -->
                <div class="flex_item">
                    <img src="../public/imgs/book_cover_presentation_1.png" alt="book_cover_presentation_1" />
                </div>
                <div class="flex_item">
                    <img src="../public/imgs/book_cover_presentation_2.png" alt="book_cover_presentation_2" />
                </div>
                <div class="flex_item">
                    <img src="../public/imgs/book_cover_presentation_3.png" alt="book_cover_presentation_3" />
                </div>
                <div class="flex_item">
                    <img src="../public/imgs/book_cover_presentation_4.png" alt="book_cover_presentation_4" />
                </div>
            </div>
        </div>
    </div>
</body>

</html>
