<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>yitao</title>
    <link rel="stylesheet" type="text/css" href="../css/yitao_style.css">
</head>

<body>
</body>
	<div class="root">
		<div class="content_container">
			<div class="top_info">
				热门优惠券
			</div>
			<div class="content_main">
				<div class="content_item" id="item1">
					<img src="../public/imgs/number_1.png" alt="n1" />
					<div class="content_main_text">
						<div class="text_main">
							网易彩票官网&nbsp;&nbsp;<span>满2减1</span>
						</div>
						<div class="text_other">
							已有1997人领取
						</div>
					</div>
				</div>
				<hr />
				<div class="content_item" id="item2">
					<img src="../public/imgs/number_2.png" alt="n2" />
					<div class="content_main_text">
						<div class="text_main">
							米米乐商城&nbsp;&nbsp;<span>满100减20</span>
						</div>
						<div class="text_other">
							已有273人领取
						</div>
					</div>
				</div>
				<hr />
				<div class="content_item" id="item3">
					<img src="../public/imgs/number_3.png" alt="n3" />
					<div class="content_main_text">
						<div class="text_main">
							中国足彩网官网&nbsp;&nbsp;<span>5元现金</span>
						</div>
						<div class="text_other">
							已有408人领取
						</div>
					</div>
				</div>
				<hr />
				<div class="content_item" id="item4">
					<img src="../public/imgs/number_4.png" alt="n4" />
					<div class="content_main_text">
						<div class="text_main">
							必赢彩票&nbsp;&nbsp;<span>3元现金券</span>
						</div>
						<div class="text_other">
							已有7863人领取
						</div>
					</div>
				</div>
				<hr />
				<div class="content_item" id="item5">
					<img src="../public/imgs/number_5.png" alt="n5" />
					<div class="content_main_text">
						<div class="text_main">
							淘宝游戏交易&nbsp;&nbsp;<span>50元现金</span>
						</div>
						<div class="text_other">
							已有1192人领取
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</html>
