<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>flex属性分类</title>
    </head>

    <body>
    	flex属性分类：
    	1.作用于容器属性（父级元素）的属性
    		flex-direction:这个属性决定了主轴的方向
    		flex-wrap:默认情况下项目排在一行，可以通过这个属性设置来决定子元素是否能换行
    		flex-flow:flex-direction和flex-wrap的缩写
    		justify-content:定义子元素在主轴上的对齐方式
    		align-items:定义了子元素在交叉轴上的对齐方式
    		align-content:定义了多个主轴的对齐方式

    	2.作用于弹性子元素的属性：
    		order：定义了元素的排列顺序
    		flex-grow:定义元素放大比例，默认为0，默认不会放大
    		flex-shrink:定义元素收缩比例，默认为1，空间不够会缩小
    		flex:上面三个属性的复合缩写
    </body>

</html>
