<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>flex</title>
    </head>
    <body>
    	<!--
		弹性盒子是一种布局方式，当页面需要适应不同屏幕大小或设备类型时，他会确保拥有恰当的布局
		原理：
		弹性布局是通过调整其内元素的宽高，从而在任何显示设备上对可用的显示空间的最佳填充能力

		名词解释：
		轴（Axis）
		main axis：每个弹性框布局都可以包含两个轴，弹性项目（子级元素）延其依次排列的水平轴称之为主轴，垂直于主轴的为交叉轴
		尺寸（dimension）根据弹性容器的主轴侧轴，弹性项目的高度，对应的主轴为主轴尺寸，对应的侧轴为侧轴尺寸

		display:flex
		使容器成为一个有块级元素行为的弹性容器，定义在父级上
		display:inline-flex:
		是容器成为一个有行内元素行为的弹性容器
		弹性容器内的子元素的float，clear，vertical-align将失效
    	 -->
    </body>
</html>
