<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>倒影</title>
        <style type="text/css" media="screen">
        	div{
        		width: 300px;
        		margin: 200px auto;
        		border: 3px solid red;
        		-webkit-box-reflect: below 20px -webkit-linear-gradient(transparent,rgba(123,85,95,0.6));
        	}

        </style>
    </head>

    <body>
		<!-- box-reflect: 倒影的方向，倒影与真实值的偏移值，倒影的渐变
		倒影的方向：
		below 下面
		above 上方
		left 左边
		right 右边 -->

		<div>
			<img src="../public/imgs/gif.gif" alt="">
		</div>
    </body>

</html>
